{% extends "account/base_entrance.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    <form method="post" action="{{ action_url }}" tags="entrance,signup">
        {% csrf_token %}
        {{ form.as_p }}  {# Render the form fields #}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" tags="prominent,signup">{% trans "Sign Up" %}</button>
    </form>
{% endblock content %}